# Python
backend/.venv/
backend/__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/dist/

# Environment Variables
.env
.env.local
.env.*.local

# IDEs and System files
.vscode/
.idea/
.DS_Store
Thumbs.db
